@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;500;600;700&family=Ubuntu:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
max-width: 1300px;
padding: 0 80px;
margin: auto;
}
/*navbar styling */
.navbar{
    Position: fixed;
    width: 100%;
    padding: 30px 0;
    background: crimson;
    font-family: 'Ubuntu' , sans-serif;
}
.navbar.sticky{
    padding: 30px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: blue;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: blue;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:white;
}

/* menu btn styling*/
.menu-btn{
    color: rgb(8, 6, 8);
    font-size: 23px; 
    display: inline-table;
}
/* Home section styling*/
.home{
    display: flex;
    background: url("Picture/Charles\ photo.jpg") no-repeat center;
    height: 100vh;
    background-position: right;
    color: rgb(68, 64, 59);
    min-height: 500px;
    font-family: 'Ubuntu' , sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;   
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px; 
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;   
}
.home .home-content .text-3 span{
    color:crimson;
    font-weight: 500;
}

@media(.max-width: 700px){

    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: white
    }
}